{% extends 'basic.html' %}

{% load widget_tweaks %}
{% block body %}

<div class="main-content"  style="padding-top: 0px;">
<section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>User Wallet List</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
<div class="col-md-12">
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
<tr>

<th>User Name</th>
<th>Current Balance</th>

<th>Detail view</th>


</tr>
</thead>
<tbody>
{% if user %}
{% for x in user %}
<tr>

<td>{{ x.user.name }}</td>
<td>{{ x.balance }}</td>

<td>
    <form action="{% url 'userwallet_form_history' %}" method="POST" class="d-inline">
        {% csrf_token %}
        <input type="hidden" value="{{x.user_id}}" name="userid"/>

        <button data-toggle="tooltip" class="item" data-placement="top"
                title="History" style="font-size:18px" ><i class="fa fa-eye"></i></button>

    </form>
</td>

</tr>
{% endfor %}
{% else %}

<div class="col-md-12"><p class="text-center">Not Found Record</p></div>
{% endif %}
</tbody>
</table>
{% include 'User/design.html' %}
</div>
{% if messages %}
<ul class="messages my-5 text-center">
{% for message in messages %}
<hr />
<div class="alert alert-success" role="alert">
{{ message }}
</div>
{% endfor %}
</ul>
{% endif %}
</div>

                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
