{% extends 'basic.html' %}

{% load widget_tweaks %}
{% block body %}


<div class="main-content" style="padding-top: 0px;">
<section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>Society Billing Report</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
    <div class="col-lg-12">
            <form action="{% url 'pz_society_billing' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <strong>Society </strong>
                        <small>Billing</small>
                    </div>
                    <div class="card-body card-block row " >
                        <div >
                            <div class="form-group">
                                <strong class="form-control-label">Select Month:</strong>
                            </div>
                            <div class="input-group">
                                {% if not start_date %}
                                <input type="text" value="{{form.month}}" name="month" placeholder="yyyy-mm" id="datepicker" required>
                                {% else %}
                                <input type="text" value="{{form.month}}" name="month" placeholder="yyyy-mm" id="datepicker" required>
                                {% endif %}
                            </div>

                        </div>


                        <div style="margin-left: 10%;margin-top: 2%;">
                            <div class="form-group">
                                <h4 class="form-control-label"></h4>
                            </div>

                            <div >
                                <form action="{% url 'pz_society_billing' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="sbid" id="myinput" />
                                <button type="submit" id="button" class="btn btn-primary" style="margin-left: 15%;" ><i class="fa fa-download"></i> Get Detail</button>
                                </form>

                            </div>

                        </div>

                        <div style="margin-left: 10%;margin-top: 2%;">
                            <div class="form-group">
                                <h4 class="form-control-label"></h4>
                            </div>

                            <div >
                                <form action="{% url 'some_view' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="abc" id="excel" />
                                 {% if summary_data %}
                                <button type="submit" id="button1" class="btn btn-primary" style="margin-left: 15%;" ><i class="fa fa-download"></i> Download</button>
                                    {% endif %}
                                </form>

                            </div>
                        </div>


                    </div>
                </div>
            </form>

        </div>

{% if summary_data %}
        <div class="col-lg-12">

                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                            <tr>
                                <th>Name Of Account Holder</th>
                                <th>Account Number</th>
                                <th>Bank Name</th>
                                <th>IFSC Code</th>
                                <th>Branch</th>
                                <th>Month</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                            <tr>

                            </tr>
                            </thead>
                            <tbody>

                            {% for x in summary_data %}
                            <tr>
                                <td>{{x.acc_holder_name}}</td>
                                <td>{{x.account_Num}}</td>
                                <td>{{x.bank_name}}</td>
                                <td>{{x.ifsc_code}}</td>
                                <td>{{x.branch}}</td>
                                <td>{{display_month}}</td>
                                <td>{{x.booking_amount}}</td>

                            </tr>

                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                 <td></td>
                                <td>Grand Total : </td>
                                <td>{{total}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
        {% endif %}
 </div>
{% endblock %}