{% extends 'basic.html' %} {% load widget_tweaks %} {% block body %}


<div class="main-content" style="padding-top: 0px;">
    <section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                   <li class="list-inline-item "> <a href="{% url 'pz_society_view' %}"><strong>Society List</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>Create Society</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
    <div class="col-lg-12">
        <form action="{% url 'pz_society_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <strong>Society </strong>
                    <small> Create</small>
                </div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <label class="form-control-label">Name</label>
                        {% render_field form.name class="form-control" id="Name" placeholder="Society Name" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Location</label>
                        {% render_field form.location class="form-control" id="Location" placeholder="Society Location" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">City</label>
                        {% render_field form.city class="form-control" id="City" placeholder="City" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">State</label>
                        {% render_field form.state class="form-control" id="State" placeholder="State" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Country</label>
                        {% render_field form.country class="form-control" id="Country" placeholder="Country" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Two wheeler hourly price</label>
                        {% render_field form.two_wheel_hourly_price class="form-control" id="two_wheel_hourly_price" placeholder="Two wheeler hourly price"  %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Two wheeler weekly price</label>
                        {% render_field form.two_wheel_weekly_price class="form-control" id="two_wheel_weekly_price" placeholder="Two wheeler weekly price"  %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Two wheeler monthly price</label>
                        {% render_field form.two_wheel_monthly_price class="form-control" id="two_wheel_monthly_price" placeholder="Two wheeler monthly price" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Two wheeler daily price</label>
                        {% render_field form.two_wheel_daily_price class="form-control" id="two_wheel_daily_price" placeholder="Two wheeler daily price" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Four wheeler hourly price</label>
                        {% render_field form.four_wheel_hourly_price class="form-control" id="four_wheel_hourly_price" placeholder="Four wheeler hourly price" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Four wheeler weekly price</label>
                        {% render_field form.four_wheel_weekly_price class="form-control" id="four_wheel_weekly_price" placeholder="Four wheeler weekly price" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Four wheeler monthly price</label>
                        {% render_field form.four_wheel_monthly_price class="form-control" id="four_wheel_weekly_price" placeholder="Four wheeler monthly price"  %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Four wheeler daily price</label>
                        {% render_field form.four_wheel_daily_price class="form-control" id="four_wheel_daily_price" placeholder="Four wheeler daily price"  %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Number Of Parking</label>
                        {% render_field form.number_of_parking class="form-control" id="number_of_parking" placeholder="Number Of Parking" %}
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">opening time</label>
                        {% render_field form.opening_time class="form-control" id="opening_time" placeholder="Opening time" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">closing time</label>
                        {% render_field form.closing_time class="form-control" id="closing_time" placeholder="Closing time" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Longitude</label>
                        {% render_field form.longtitude class="form-control" id="Longtitude" placeholder="Longtitude" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Latitude</label>
                        {% render_field form.langtitude class="form-control" id="Langtitude" placeholder="Latitude" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Bank Name</label>
                        {% render_field form.bank_name class="form-control" id="bank_name" placeholder="Bank Name" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Branch</label>
                        {% render_field form.branch class="form-control" id="branch"  placeholder="Branch" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Account Number</label>
                        {% render_field form.account_number class="form-control" id="account_number" placeholder="Account Number" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">IFSC Code</label>
                        {% render_field form.ifsc_code class="form-control" id="ifsc_code" placeholder="IFSC Code" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Cancel Cheque</label>
                        {% render_field form.cancel_check class="form-control" id="cancel_check" %}
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Commision</label>
                        {% render_field form.commision class="form-control" id="commision" placeholder="Commision"  %}
                    </div>


                    <div style="margin-top: 5%;">
                        {% if messages %}
                        <ul class="messages my-5 text-center">
                            {% for message in messages %}
                            <hr />
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                            <span id="payment-button-amount">Create</span>
                            <span id="payment-button-sending" style="display: none;">Creating…</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
