{% extends 'basic.html' %}

{% load widget_tweaks %}
{% block body %}

<div class="main-content" style="padding-top: 0px;">
    <section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>SocietySecretry Profile View</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
<div class="col-lg-12" style="padding-top: 0px;">
    <div class="card">
        <div class="card-header">
            <strong>Society Secretry</strong>
            <small>Update</small>
        </div>

        <form action="{% url 'Societysecretry_Profile_edit' %}" method="POST" enctype="multipart/form-data">
            <input type="hidden" value="{{societysecretry.id}}" name="userid">
            {% csrf_token %}

            <div class="card-body card-block">

                <div class="form-group">

                    <label class=" form-control-label">Society</label>
                     <label class="form-control">{{societysecretry.society}}</label>
                </div>


                <div class="form-group">
                    <label class=" form-control-label">Name</label>
                    <label class="form-control">{{societysecretry.name}}</label>

                </div>
                <div class="form-group">
                    <label class=" form-control-label">Address</label>
                    <label class="form-control">{{societysecretry.address}}</label>

                </div>

                <div class="form-group">
                    <label class=" form-control-label">City</label>
                    <label class="form-control">{{societysecretry.city}}</label>

                </div>
                <div class="form-group">
                    <label class=" form-control-label">Country</label>
                    <label class="form-control">{{societysecretry.country}}</label>

                </div>
                <div class="form-group">
                    <label class=" form-control-label">State</label>
                    <label class="form-control">{{societysecretry.state}}</label>

                </div>
                <div class="form-group">
                    <label class=" form-control-label">Mobile Number</label>
                    <label class="form-control">{{societysecretry.mobile_number}}</label>

                </div>

                <div class="form-group">
                    <label class=" form-control-label">Email</label>
                    <label class="form-control">{{societysecretry.email}}</label>

                </div>
                <div class="form-group">
                    <label class=" form-control-label">Password</label>
                    <label class="form-control">{{societysecretry.password}}</label>

                </div>
                <div>
                    <label class=" form-control-label">Aadhar Card</label>
                    <label class="form-control">
                        <img src="{{societysecretry.aadhar_card.url}}" height="150" width="100"></label>

                </div>
                <div class="form-group">
                    <label class=" form-control-label">AadharCard Number</label>
                    <label class="form-control">{{societysecretry.aadhar_num}}</label>

                </div>

                {% if messages %}
                <ul class="messages my-5 text-center">
                    {% for message in messages %}
                    <hr>
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}

                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                    <span id="payment-button-amount">Update</span>
                    <span id="payment-button-sending" style="display: none;">Updating…</span>
                </button>
            </div>
        </form>
    </div>

</div>
</div>
{% endblock %}