{% extends 'basic.html' %}

{% load widget_tweaks %}
{% block body %}

<div class="main-content"  style="padding-top: 0px;">
     <section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item "> <a href="{% url 'Societysecretry_view' %}"><strong>SocietySecretry Profile View</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>SocietySecretry Profile Create</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
        <div class="col-lg-12"  style="padding-top: 0px;">
            <div class="card">
                <div class="card-header">
                    <strong>Society Secretry</strong>
                    <small>Create</small>
                </div>

                <form action="{% url 'Societysecretry_create'  %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body card-block">

                        <div class="form-group">

                            <label class=" form-control-label">Society</label>
                            {% render_field form.society class="form-control" placeholder="Society" %}
                        </div>


                        <div class="form-group">
                            <label class=" form-control-label">Name</label>
                            {% render_field form.name class="form-control" placeholder="Enter Name" %}

                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Address</label>
                            {% render_field form.address class="form-control" placeholder="Enter Address" %}
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">City</label>
                            {% render_field form.city class="form-control" placeholder="Enter City" %}
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Country</label>
                            {% render_field form.country class="form-control" placeholder="Enter Country" %}
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">State</label>
                            {% render_field form.state class="form-control" placeholder="Enter State" %}
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Mobile Number</label>
                            {% render_field form.mobile_number class="form-control" placeholder="Enter MobileNumber" %}
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">Email</label>
                            {% render_field form.email class="form-control" placeholder="Enter Email" %}
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Password</label>
                            {% render_field form.password class="form-control" placeholder="Enter Password" %}
                        </div>
                        <div>
                            <label class=" form-control-label">Aadhar Card</label>
                           {% render_field form.aadhar_card class="form-control" placeholder="Select Aadhar Card" %}
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">AadharCard Number</label>
                            {% render_field form.aadhar_num class="form-control" placeholder="Enter Aadharcard Number" %}
                        </div>

                        {% if messages %}
                                                        <ul class="messages my-5 text-center">
                                                            {% for message in messages %}
                                                             <hr>
                                                                <div class="alert alert-success" role="alert">
                                                                    {{ message }}
                                                                </div>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}

                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                        <span id="payment-button-amount">Create</span>
                                                        <span id="payment-button-sending" style="display: none;">Creating…</span>
                        </button>
                    </div>
                </form>
            </div>

        </div>
</div>
{% endblock %}