{% extends 'basic.html' %} {% block body %}

<div class="main-content"  style="padding-top: 0px;">
     <section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>Parking Slot Detail</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
            <div class="col-md-12">
                   {% if messages %}
                                                        <ul class="messages my-5 text-center">
                                                            {% for message in messages %}
                                                             <hr>
                                                                <div class="alert alert-success" role="alert">
                                                                    {{ message }}
                                                                </div>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                <div class="table-responsive table--no-card m-b-30">
            <table id="example" class="table table-borderless table-striped table-earning" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Society</th>
                                <th>Available Status</th>
                                <th>Slot Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for x in parking_slot %}
                            <tr>
                                <td>{{ x.society }}</td>

                                <td>{{ x.slot_name }}</td>


                                {% if x.get_availability_status_display == "Free" %}
                                <td><span class="badge badge-pill badge-success">{{ x.get_availability_status_display }}</span></td>
                                {% elif x.get_availability_status_display == "Booked" %}
                                <td><span class="badge badge-pill badge-danger">{{ x.get_availability_status_display }}</span></td>
                                {% elif x.get_availability_status_display == "Requested" %}
                                <td><span class="badge badge-pill badge-warning">{{ x.get_availability_status_display }}</span></td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="...">
   {% if parking_slot.has_other_pages %}
  <ul class="pagination">
      {% if parking_slot.has_previous %}
      <li class="page-item">
      <a class="page-link" href="?page={{ parking_slot.previous_page_number }}">Previous</a>
    </li>
      {% else %}
      {% for i in parking_slot.paginator.page_range %}
    {% if parking_slot.number == i %}
    <li class="page-item"><a class="page-link" >1</a></li>
      {% else %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ parking_slot.next_page_number }}">2 <span class="sr-only">(current)</span></a>
    </li>
      {% endif %}
 {% endfor %}
      {% if parking_slot.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ parking_slot.next_page_number }}">3</a></li>
    <li class="page-item">
      <a class="page-link" href="?page={{ parking_slot.next_page_number }}">Next</a>
    </li>
      {% endif %}
  </ul>
       {% endif %}
        {% endif %}
</nav>

                </div>


            <!-- END DATA TABLE -->
        </div>
    </div>

{% endblock %}
