{% extends 'basic.html' %}


{% block body %}

<div class="main-content" style="padding-top: 0px;">
   <section class="au-breadcrumb ">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="au-breadcrumb-content">
							<div class="au-breadcrumb-left"> <i class="zmdi zmdi-home"></i>
								<ul class="list-unstyled list-inline au-breadcrumb__list">
									<li class="list-inline-item "> <a href="{% url 'dashboard' %}"><strong>Home</strong></a> </li>
									<li class="list-inline-item seprate"> <span>/</span> </li>
                                    <li class="list-inline-item"><strong>Watchman Payment History</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</br>
                <div class="col-md-12">

                    <div class="table-responsive table--no-card m-b-30">
                        <div class="table table-borderless table-striped table-earning">
                            <table id="example" class="table table-borderless table-striped table-earning">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>City</th>
                                    <th>AadharCard Number</th>
                                </tr>
                                </thead>
                                {% if watchmanrecord %}
                                    {% for x in watchmanrecord %}
                                <tbody>
                                <tr>
                                    <td>{{ x.name }}</td>
                                    <td>{{x.email }}</td>
                                    <td>{{x.mobile_number }}</td>
                                    <td>{{x.city }}</td>
                                    <td>{{x.aadhar_num}}</td>
                                </tr>
                                </tbody>
                                {% endfor %}
                                {% else %}

                             <div class="col-md-12"><p class="text-center">Not Found Record</p></div>
                             {% endif %}

                            </table>
   {% if watchamanrecord.has_other_pages %}
  <ul class="pagination">
      {% if watchamanrecord.has_previous %}
      <li class="page-item">
      <a class="page-link" href="?page={{ watchamanrecord.previous_page_number }}">Previous</a>
    </li>
      {% else %}
      {% for i in watchamanrecord.paginator.page_range %}
    {% if watchamanrecord.number == i %}
    <li class="page-item"><a class="page-link" >1</a></li>
      {% else %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ watchamanrecord.next_page_number }}">2 <span class="sr-only">(current)</span></a>
    </li>
      {% endif %}
 {% endfor %}
      {% if watchamanrecord.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ watchamanrecord.next_page_number }}">3</a></li>
    <li class="page-item">
      <a class="page-link" href="?page={{ watchamanrecord.next_page_number }}">Next</a>
    </li>
      {% endif %}
  </ul>
       {% endif %}
        {% endif %}
</nav>
                        </div>

                    </div>
                    {% if messages %}
                    <ul class="messages my-5 text-center">
                        {% for message in messages %}
                        <hr>
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>


{% endblock %}