
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>megha</title>

</head>
<script>
function myFunction() {
    alert("The email was submitted");
}
</script>
<body>
</div>
        <div class="modal-footer">
            <div onsubmit="myFunction">
              <input type="submit"  class="btn btn-primary" value="Save and Email to Corporate">
            </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
</body>
</html>